/* Placeholder Style Sheet */
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/


html
{
	min-width: 1000px; 
}


body /* Page Body */
{
	width: 100%;
	height: 100%; 
	margin: auto;
	height: auto;


}


/******************************************************************************************************/


#maincontentwrapper
{	
}

#firstsection
{

}


/******************************************************************************************************/


#soonimage
{
	
	width: 100%;
	height: 100%;

	margin-top: 0px;
	
	position: absolute;

	/*border: 1px solid black; */

	background-image: url("http://i.imgur.com/O1bNi3g.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

	
