/* ThanksContactUs Style Sheet */
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/


html
{
	min-width: 1000px; 
}


body /* Page Body */
{
	width: 100%;
	height: 100%; 
	margin: auto;
	height: auto;


}


#header /* Menu Bar */
{
	position: fixed;
	background-color: #ffffff;
	color: #000000;
	
	opacity: .9;

	width: auto;
	height: auto;

	min-height: 155px;
	min-width: 100%;

	z-index: 100;
}

#boticon
{
}

#boticon:hover
{
	
	/*background-image: url("http://i.imgur.com/bcH6J1J.gif");
	background-repeat: no-repeat;
	background-size: 60%;*/

}


#headingcontent /* Content in Menu Bar */
{	
}


#headingimage /* The Bot Logo Icon */
{
}



/******************************************************************************************************/



img
{
	position: fixed;

	display: inline-block;
	
	height: auto; 
	width: auto; 
	/* icon logo should be kept to a 0.809 width:height ratio // 85-105 base ratio*/

	min-height: 145px;
	min-width: 117px;

	max-height: 145px;
	max-width: 117px;
	
	padding-left: 110px;
	padding-top: 15px;	

	/*background-image: url("http://i.imgur.com/CDenreI.png");
	background-repeat: no-repeat;
	background-size: 100%;*/
}



/******************************************************************************************************/



#menuitems /* The Listed Menu Items */
{
	position: static;
	display: inline-block;
	font-size: 14px; 
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	padding-left: 40%;
	padding-top: 4%;
}


table
{
	position: absolute;
	padding-left: 20%;
}


td
{
	display: inline-block;
	padding-left: 8%; 
}


#BetaButton
{
	color: #ffffff;
	background-color: #000000;
	
	border-radius: 5px;
	width: 126px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#BetaButton a
{
	text-decoration: none;
	color: #ffffff;
}

#BetaButton:hover
{
	opacity: .5; 
}


#LeftofBetaButton
{
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 5px;
	width: 40px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;

	margin-left: -20px;
	margin-right: 20px;
}

#LeftofBetaButton a
{
	text-decoration: none;
	color: #000000;
}

#LeftofBetaButton:hover
{
	opacity: .5; 
}


#FarLeftofBetaButton
{
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 5px;
	width: 100px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;

	margin-left: -90px;
	padding-right: 15px;

}

#FarLeftofBetaButton a
{
	text-decoration: none;
	color: #000000;
}


#FarLeftofBetaButton:hover
{
	opacity: .5;
}


#FartherLeftofBetaButton
{
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 5px;
	width: 100px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;

	margin-left: -160px;
	/*padding-right: 100px;*/
	margin-right: 90px;

	/*border: 2px solid black;*/
}

#FartherLeftofBetaButton a
{
	text-decoration: none;
	color: #000000;
}

#FartherLeftofBetaButton:hover
{
	opacity: .5;
}


#MidofBetaButton
{
	color: #000000;
	background-color: #ffffff;
	
	border-radius: 5px;
	width: 40px;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;

	
	margin-right: 20px;
}

#MidofBetaButton a
{
	text-decoration: none;
	color: #000000;
}

#MidofBetaButton:hover
{
	opacity: .5;
}




/******************************************************************************************************/
/******************************************************************************************************/


#maincontentwrapper
{	
}

#firstsection
{

}


/******************************************************************************************************/


#thanksimage
{
	
	width: 100%;
	height: 580px;

	margin-top: 170px;
	
	position: absolute;

	/*border: 1px solid black; */

	background-image: url("Thank_You_ContactUs_Image.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
}

	
